---
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "./ThemeIcon.astro";
import "../styles/header.css";

import { SITE_TITLE } from "../consts";
---

<header>
  <div style="width: 1280px">
    <nav>
      <div class="logo"><a href="/">JET PANDA</a></div>

      <ul>
        <li><HeaderLink href="/">Home</HeaderLink></li>
        <li><HeaderLink href="/blog">Blog</HeaderLink></li>
        <li><HeaderLink href="/about">About</HeaderLink></li>
        <li><HeaderLink href="/tags">Tags</HeaderLink></li>
      </ul>
      <div><ThemeIcon /></div>
    </nav>
  </div>
</header>

<style>
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
