---
import { Image, Picture } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter, heroImage, pubDate } = Astro.props;

const myImage = frontmatter.heroImage;
---

<BaseLayout>
  <h1>{frontmatter.title}</h1>
  <h3>{frontmatter.pubDate}</h3>
  <Picture src={myImage} width={800} height={350}  alt="3" />
  <slot />
</BaseLayout>
