---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter, heroImage } = Astro.props;
---

<BaseLayout>
  <h1>{frontmatter.title}</h1>
  {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
  <slot />
</BaseLayout>
